
.vfrc-header {
  display: none;
}


.vfrc-timestamp{
    display:none;
}

.vfrc-chat--dialog{
    overflow:hidden;
}


.vfrc-button--primary {
    position: relative; /* Ensure proper positioning for ::after content */
    text-align: center !important; /* Center text within the footer */
    visibility: hidden; /* Hide the original text */
}
.vfrc-button--primary::after {
    content: "开始会话"; /* Custom watermark text */
    visibility: visible; /* Make the new text visible */
    position: absolute;
    color: inherit; /* Inherit color from parent */
}



